<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Advertisement Request Approval</title>
    </head>

    <body>
        Hello {{lab_name}},
        <p>Your request for the advertisement with title <strong>{{title}}</strong> against invoice ID {{invoice}} payment {{price}} has been approved by the Labhazir,</p> 
        <p>Advertisement will remain live from {{from}} to {{to}}.</p><b/>
        <p>Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
        <p>www.labhazir.com</p>
        <img src="static/labhazir.png" alt="Labhazir logo">

    </body>
</html>