<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Advertisement Request Rejection</title>
    </head>

    <body>
        Hello {{lab_name}},
        <p>Your request for the advertisement with title {{title}} against invoice ID {{invoice}} from {{from}} to {{to}}  has been rejected by the Labhazir,</p> 
        <p>due to {{reason}}, You can request for the advertisement again with corrections from your dashboard.</p><b/>
        <p>Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
        <p>www.labhazir.com</p>
        <img src="static/labhazir.png" alt="Labhazir logo">

    </body>
</html>