<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Verify your Email</title>
    </head>

    <body>
        Hello {{ lab_name }},

        <p>Your account registered at Lab Hazir with the email address {{ lab_email }} has been approved after verification by our Auditor!</p> 

        <p>You are now part of Lab Hazir Family. You can now <a href="{{login_link}}"><strong>login</strong></a> to your account and start using its exciting features for the enhancement of your business.</p><br />

        <p>Registration & Audits Department <br/> Lab Hazir</p>
    </body>
</html>