<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Complaint Registration</title>
    </head>

    <body>
        Hello {{ user }},

        <p>Thank you for Contacting us, we are sorry for the problem you faced we will do our best to resolve your complaint.</p> 

        <p>Your Complaint id is <b>{{complaint_id}}</b>. Our customer service representative will contact you soon.</p><br />
        <p>Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
       
    </body>
</html>