<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Verify your Email</title>
    </head>

    <body>
        Hello {{ user }},

        <p>We have received a request to reset password for {{ email }}.</p> 

        <p>If you have made this request then please reset your password by clicking the link below, otherwise please ignore this
        email.</p>

        <p>{{ reset_password_link }}</p>

        <p>Registration & Audits Department <br/> Lab Hazir</p>
    </body>
</html>