<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Order Confirmation</title>
    </head>

    <body>
        Hello {{lab_name}},

        <p>You've recieved a new appointment request from <b>{{patient}}</b> with Order ID <b>{{order_id}}</b> scheduled time by patient is <b>{{appointment_requested_at}}</b>.</p> 
        <p>Please get back to them.</p>
         Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
        <p>www.labhazir.com</p>
        <img src="static/labhazir.png" alt="Labhazir logo">
    </body>
</html>