<!DOCTYPE html>
<htmllang="en">

    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Verify your Email</title>
    </head>

    <body>
        Hello {{ lab_name }},

        <p>We are sorry to inform you that your account registered at Lab Hazir with the email address {{ lab_email }} has been unapproved after
            verification by our Auditor!</p>

        <p>If you want to get more information about it or want to discuss further, please contact us at {{ contact_email }} or {{ contact_number }}.</p><br />

        <p>Registration & Audits Department <br /> Lab Hazir</p>
    </body>

    </html>