<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Lab Attention</title>
    </head>

    <body>
        Hello Lab,

        <p>You are already collaborating with {{ corporate_name }} corporations and {{ corporate_name }} added new price for its tests on Labhazir. If you agree to this price, go and accept this corporations again.</p> 
        <p>Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
        <p>www.labhazir.com</p>
        <img src="static/labhazir.png" alt="Labhazir logo">

    </body>
</html>