<!DOCTYPE html>
<htmllang="en">
    <head>
        <metacharset="UTF-8" />
        <metaname="viewport"content="width=device-width, initial-scale=1.0" />
        <title>Lab Approval</title>
    </head>

    <body>
        Hello Registration Admin,

        <p>We have a new test {{test_name}} by {{ lab_name }} on labhazir, Kindly add the refferal fee to approve the test.</p> 
        <p>Thanks and Best Regards</p><b/>
        <p>Team Lab Hazir</p>
        <p>www.labhazir.com</p>
        <img src="static/labhazir.png" alt="Labhazir logo">

    </body>
</html>